<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white p-10">

<h1 class="text-4xl font-bold mb-6">{{title}}</h1>

<p class="mb-6">{{description}}</p>

<div class="bg-gray-800 p-6 rounded-xl mb-6">
Expected Salary: {{salary}}
</div>

<h2 class="text-2xl mb-4">Required Skills</h2>

<ul>
{% for s in skills %}
<li>• {{s}}</li>
{% endfor %}
</ul>

<h2 class="text-2xl mt-6 mb-4">Industry Tools</h2>

<ul>
{% for t in tools %}
<li>• {{t}}</li>
{% endfor %}
</ul>

<h2 class="text-2xl mt-6 mb-4">Courses to Learn</h2>

<ul>
{% for c in courses %}
<li><a href="{{c[1]}}" class="text-blue-400 underline">{{c[0]}}</a></li>
{% endfor %}
</ul>

<br>

<a href="/roadmap/{{role}}" class="bg-blue-500 px-6 py-3 rounded">
View Career Roadmap
</a>

</body>
</html>
